.DS_Store
/.build
/Packages
/*.xcodeproj
xcuserdata/
DerivedData/
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
smart-library-app.xcodeproj/project.xcworkspace/xcuserdata
smart-library-app/GoogleService-Info.plist
